<div class="sidebar-content">
  <!-- Sidebar Header -->
          <img src="assets/img/imgloginedit.png" alt="" class="img-sidebar">
  <!--div class="sidebar-header">
    <div class="sidebar-logo">
      <i class="pi pi-shield sidebar-logo-icon"></i>
      <div class="sidebar-logo-text">
        <h3>Control Panel</h3>
        <small>Sistema de Gestión</small>
      </div>
    </div>
  </div-->

  <!-- User Info -->
  <div class="sidebar-user">
    <div class="user-info">
      <h4>{{ authService.currentUserValue?.name }}</h4>
      <small>{{ authService.currentUserValue?.usuario }}</small>
    </div>
  </div>

  <!-- Navigation Menu -->
  <div class="sidebar-menu">
    <p-menu [model]="menuItems" styleClass="w-full border-none"></p-menu>
  </div>

  <!-- Sidebar Footer -->
  <div class="sidebar-footer">
    <button 
      pButton 
      label="Cerrar Sesión" 
      icon="pi pi-sign-out"
      class="w-full"
      (click)="onLogout()"
    ></button>
  </div>
</div>