<p-toolbar class="main-toolbar">
  <ng-template #start>
    <div class="toolbar-left">
      <button 
        *ngIf="showMobileMenu"
        pButton 
        icon="pi pi-bars" 
        class="p-button-text p-button-rounded"
        (click)="onMobileSidebarOpen()"
        pTooltip="Abrir menú"
      ></button>
      
      <div class="toolbar-title">
        <h2>{{ title }}</h2>
        <!--small class="toolbar-subtitle">
          {{authService.currentUserValue |json}}
          {{ authService.currentUserValue?.name || 'Administrador' }}
        </small -->
      </div>
    </div>
  </ng-template>

  <ng-template #end>
          <app-theme-toggle  *ngIf="showMobileMenu"></app-theme-toggle>
    <div class="toolbar-right">

      
      <!-- Tema claro/oscuro -->
      <app-theme-toggle></app-theme-toggle>
      
      <!-- Menú de usuario (perfil, configuración, logout) -->
      <p-menu #userMenu [model]="userMenuItems" [popup]="true"></p-menu>
      <button 
        pButton 
        class="user-avatar"
        (click)="userMenu.toggle($event)"
        pTooltip="Menú de usuario"
      >
        <span class="user-initial">
          {{ getUserInitial() }}
        </span>
      </button>
    </div>
  </ng-template>
</p-toolbar>