<div class="oro-pepas-container">
  <!-- Título con PrimeFlex -->
  <div class="header-section mb-4">
    <div class="flex justify-content-between align-items-center">
      <div>
        <h3 class="title-secondary text-color-secondary m-0">
          <i class="pi pi-chart-line mr-2"></i>
          Oro en joyas
        </h3>
      </div>

      <div class="flex align-items-center gap-2">
        <p-button 
          icon="pi pi-refresh" 
          (click)="calcularPrecios()"
          styleClass="p-button-rounded p-button-text p-button-sm"
          tooltip="Recalcular precios"
          tooltipPosition="bottom">
        </p-button>
      </div>
    </div>
  </div>

  <!-- Cards con PrimeFlex Grid -->
  <div class="grid">
    

  </div>

</div>